body{
  background-image: url(https://www.gstatic.com/earth/social/00_generic_facebook-001.jpg);
  background-size: cover;  
  font-family: sans-serif;
  margin:0;
  padding: 0;
  overflow: hidden;
}


#transbox{
    width: 80%;
    height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  border: 1px solid #24d9ff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.9);
  text-align: left;
  text-align: top;


}
img{
  width: 4%;
  height: auto;
  position: fixed;
  top: 0%;
  left: 45%;
  max-width: 100%;

}
/*#imagebox{
width: 10%;
    height: 10%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}*/

.logo{
  color: white;
  position: fixed;
  left: 4%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 23px;

}


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #151719;
  color: white;
}

.nav-links{
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing:1px;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}
.nav-links li{
  list-style: none;
}



.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;


}

.burger {
  position: fixed;
  right: 2%;
  display: none;
  cursor: pointer;
}

.nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: #151719;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }



@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: #151719;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

@media screen and (max-width: 1024px){
  li{
    width: 60%;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2{
  opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.inf{

  text-align: left;
  line-height: 1.6;
  min-height: 18px;
  letter-spacing: 1px;
  padding-top: 18px;
  font-weight: bold;
  font-size: 18px;

}